@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("User"))
    {
        <li class="nav-item">
            <a class="nav-link " asp-controller="Local" asp-action="Index">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Locais Disponíveis</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-controller="Agendamento" asp-action="Index">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Meus Agendamentos</span>
            </a>
        </li>
    }
}