@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


    <ul class="sair">
        <form method="post" asp-controller="account" asp-action="logout">
                <button type="submit" style="width:auto" class="btn btn-primary">
                Sair
                </button>
            
        </form>
    </ul>

