<br />
<div>
    <img width="250" height="250" src="~/images/admin.jpg" alt="Área de Administração" />
</div>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>
