@model List<LocalModel>

@{
    ViewData["Title"] = "Home Page";
}
 <div class="">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="row mt-2">
                <div class="col-md-12 mb-lg-0 mb-4 locais">
                    <div class="col-md-6">
                        <div class="card bg-cover text-center" style="background-color: azure">
                            <div class="card-body z-index-2 py-9">
                                <h2 class="text-white"></h2>
                                <p class="text-black">
                                    Potencialize o sucesso da sua quadra esportiva! Anuncie conosco e alcance um público apaixonado por esportes,
                                    proporcionando uma experiência única aos amantes do jogo.</p>
                                <p>Junte-se à nossa comunidade de locações online e amplie a visibilidade do seu espaço esportivo,
                                    atraindo mais clientes e garantindo o máximo aproveitamento das suas quadras.</p>
                                <p>Seja parte do nosso time vencedor e impulsione o desempenho do seu negócio!</p>

                                <p>Para começar, pedimos que envie as seguintes informações para nossa equipe através do email fut360br@gmail.com.</p>
                                <p>
                                1 Foto do local - Destaque as instalações e crie uma primeira impressão marcante.
                                2 Nome do local
                                3 Endereço completo
                                4 Telefone para contato
                                </p>
                                Estamos ansiosos para receber suas informações e dar início à parceria que levará sua quadra esportiva a novas alturas.

                                Seja bem-vindo à nossa comunidade!
                                </p>

                                <label class="badge badge-light text-white"></label>
                            </div>
                            <div class="mask bg-gradient-primary border-radius-lg"></div>
                        </div>
                    </div>
                 </div>                                         
                        

                    

                    <div class="row mt-4">
                        
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>