@model List<LocalModel>

@{
    ViewData["Title"] = "Home Page";
}
 <div class="">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="row mt-4">
                <div class="col-lg-7 mb-lg-0 mb-4">
                    <div class="card z-index-2 h-100">
                        <div class="card-header pb-0 pt-3 bg-transparent">
                            <div class="card-body z-index-2 py-9">
                                <h6 class="text-capitalize">Anuncie com a gente!</h6>
                                <p class="text-black">
                                    Potencialize o sucesso da sua quadra esportiva! Anuncie conosco e alcance um público apaixonado por esportes,
                                    proporcionando uma experiência única aos amantes do jogo.</p>
                                <p>Junte-se à nossa comunidade de locações online e amplie a visibilidade do seu espaço esportivo,
                                    atraindo mais clientes e garantindo o máximo aproveitamento das suas quadras.</p>
                                <p>Seja parte do nosso time vencedor e impulsione o desempenho do seu negócio!</p>

                                <p>Para começar, pedimos que envie as seguintes informações para nossa equipe através do email fut360br@gmail.com.</p>
                                <p>
                                1 Foto do local - Destaque as instalações e crie uma primeira impressão marcante.
                                2 Nome do local
                                3 Endereço completo
                                4 Telefone para contato
                                </p>
                                Estamos ansiosos para receber suas informações e dar início à parceria que levará sua quadra esportiva a novas alturas.

                                Seja bem-vindo à nossa comunidade!
                                </p>

                                <label class="badge badge-light text-white"></label>
                            </div>
                        </div>
                    </div>
                 </div>


                <div class="col-lg-5">

                    <script src="https://webmasters.onlinebettingacademy.com/assets/js/webmasters.js" data-title="Jogos de Hoje" data-lang="br" data-timezone="America/Sao_Paulo"
                        data-width="600" data-height="750" data-widget="livescores" data-color="3b5998|8b9dc3|dfe3ee|f7f7f7|ffffff|333333|5f7ec1|263961|d0d0d0|7b7b7b"
                        type="text/javascript">
                    </script>        
                </div>
            </div> 
            <div class="row mt-4">

                <script src="https://webmasters.onlinebettingacademy.com/assets/js/webmasters.js" data-team_id="320" data-lang="br" data-timezone="America/Sao_Paulo" data-num_prev="10"
                    data-num_next="10" data-feature_lastm="0" data-feature_match="1" data-widget="team_matches"
                    data-color="3b5998|8b9dc3|dfe3ee|f7f7f7|ffffff|333333|5f7ec1|263961|d0d0d0|7b7b7b" type="text/javascript">
                </script>
            </div>
        </div>
    </div>
</div>

