@model Fut360.Models.AgendamentoModel

@{
    ViewData["Title"] = "Realizar um agendamento";
}
<h1>RESERVAR</h1>
<h4>Realizar a reserva do horário:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Agendamento" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

           

            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" class="form-control" id="data" name="data" value="2023-11-01" />
            </div>
            
            <div class="form-group">
                <label for="horainicial">Hora de Início:</label>
                <input type="time" class="form-control" id="horainicial" name="horainicial"/>
            </div>
            <div class="form-group">
                <label for="horafinal">Hora de Término:</label>
                <input type="time" class="form-control" id="horafinal" name="horafinal" />
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

