@model Fut360.Models.AgendamentoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AgendamentoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.localModel.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.localModel.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.localModel.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.localModel.Horario)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.userModel.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
