@model Fut360.Models.AgendamentoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AgendamentoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="localModel.Nome" class="control-label"></label>
                <input asp-for="localModel.Nome" class="form-control" />
                <span asp-validation-for="localModel.Nome" class="text-danger"></span>
            </div>
   

            <div class="form-group">
                <label asp-for="localModel.Horario" class="control-label"></label>
                <input asp-for="localModel.Horario" class="form-control" />
                <span asp-validation-for="localModel.Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userModel.UserName" class="control-label"></label>
                <input asp-for="userModel.UserName" class="form-control" />
                <span asp-validation-for="userModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

