@model IEnumerable<Fut360.Models.AgendamentoModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <p class="mb-0 text-uppercase">Meus Agendamentos</p>
                        </div>

                    </div>
                    </br></br>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table" id="table-locais">
                                <thead>
                                    <tr>
                                        <th>
                                            Local
                                        </th>
                                        <th>
                                            Hora Inicial
                                        </th>
                                        <th>
                                            Hora Final
                                        </th>
                                        <th></th><th></th>
                                    </tr>
                                </thead>
                                <tbody>
                            @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.localModel.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataHoraInicial)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataHoraFinal)
                                        </td>
                                        <td>
                                                @if (item.Aprovado is true)
                                                {
                                                    <span>APROVADO</span>
                                                }
                                                else
                                                {
                                                    <span>NÃO APROVADO</span>
                                                }
                                        </td>
                                        <td>
                                           
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
