@model Fut360.Models.LocalModel

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Tem certeza que deseja excluir o local abaixo?</h3>
<div>
    <hr />
    <dl class="">
        <dd class = "">
            <label for="nome">Nome: </label>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dd class="">
            <label for="nome">Endereço: </label>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dd class="">
            <label for="nome">Horário de Funcionamento: </label>
            @Html.DisplayFor(model => model.Horario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
          <input type="submit" role="button" value="OK" class="btn btn-danger" /> 
          <a class="btn btn-secondary" asp-action="Index">Voltar</a>
    </form>
</div>
